version: "3.9"

services:
  myapp:
    build:
      context: .
      dockerfile: Dockerfile
    image: myapp:latest
    container_name: myapp
    ports:
      - "9012:9012"
    environment:
      SPRING_PROFILES_ACTIVE: dev
    restart: always
